<div class="drag-body dashboard-widget">
	<div class="panel-heading" [ngStyle]="{'background':widget?.widgetProperty?.background}">
		<h5 class="panel-title"
		[ngStyle]="{'font-size':widget?.widgetProperty?.fontSize+'px',
		'font-family':widget?.widgetProperty?.fontFamily,
		'color':widget?.widgetProperty?.fontColor}"> {{widget?.widgetProperty?.title}} </h5>
	</div>
	<mat-card class="dashboard-card mat-card">
		<ng-scrollbar class="my-scrollbar m-b-45" trackX="false" trackY="true" autohide="false" [compact]="true" >
			<ul *ngIf="maintenanceList.length > 0" class="maintenance-card-list ">
				<li *ngFor="let list of maintenanceList">
					<span class="maintain-name">{{list['elevatorName']}} - {{list['building']}}</span>
					<span class="maintain-details">{{list['description']}}</span>
					<div class="maintenance-date text-right">
						<span>{{list['startDateTime'] | date}}</span>
					</div>
				</li>
			</ul>
			<ul *ngIf="maintenanceList.length == 0" class="alerts-dashboard d-flex align-items-center justify-content-center">
				<div class="centerclass">No records found</div>
			</ul>
		</ng-scrollbar>
	</mat-card>
</div>